/* For font */
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* banner section */
.banner{
    background-image: url(../assets/Hero-bg.png);
    height: 806px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0;

}

/* banner-header font(h2) */

.iconimg{
    /* margin-top: 50px; */
    padding-top: 42px;
    padding-bottom: 35px;
    text-align: center;
}

.headerfont{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 56px;
    font-weight: 800;
    line-height: 68px;
    letter-spacing: 0%;
    text-align: center;
}

.headerpara{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    padding-top: 30px;  
}

.headerone{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
}
.headerparaone{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 26px;
    
}
/* button edit */
.btn{
    font-family: Azeret Mono;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    padding: 21px 24px;
    border-radius: 5px;
    background: rgb(13, 19, 33);
}

.btn-alin{
    margin-top: 35px;
    text-align: center;
    padding-top: 25px;
}

.ms{
    padding: 80px 97px;
}

.paddingforcontent{
    padding: 48px;
}

.headertwo{
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
}

.heading2{
    width: 550px;
    height: 140px;
}

.paratwo{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
    opacity: 0.7;
    text-align: justify;
    padding-bottom: 32px;
}

.btn2{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 22px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    text-align: center;
    padding: 12px 20px 12px 20px;


}

.imgan{
    position: absolute;
    width: 259.56px;
    height: 217.01px;
    left: 0.36%;
    right: -0.36%;
    top: 1.74%;
    bottom: -1.74%;
}